<!--******************************************************************************
 * VERITAS:    Copyright (c) 2018 Veritas Technologies LLC.
 * This software is licensed as described in the file LICENSE which is part of this repository
 *****************************************************************************/
-->

@{ Layout = null; }
<div class="panel panel-default" id="newGroupPanel" style="width:500px; margin-left:20px;">
    <div class="panel-heading">
        <h3>
            <span class="glyphicon glyphicon-user" style="margin-right: 25px; margin-left:25px;"></span><a href="#" id="groupname" contenteditable="true">Group Name</a>
            <button type="button" class="close" data-target="#newGroupPanel" data-dismiss="alert" onclick="enableNewGroup();">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
        </h3>
    </div>
    <div class="panel-body" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="table-responsive">
            <table class="table" id="table"></table>
        </div>
    </div>
    <div class="panel-footer">
        <input type="button" name="Save" class="btn btn-primary" value="Save" onclick="saveGroup();" />
    </div>
</div>

<script>
    function saveGroup() {
        var selectedMedia = document.getElementById("table").innerText.split("\n");
        var customerName = document.getElementById("groupname").innerText;
        $.post("/MediaServer/SaveGroupData", { 'mediaServer[]': selectedMedia, customer: customerName }, function () {
            window.location.href = '@Url.Action("Group", "MediaServer")'
        });
    }

    function dragStart(event) {
        event.dataTransfer.setData("Text", event.target.id);
    }

    function allowDrop(event) {
        event.preventDefault();
    }

    function drop(event) {
        event.preventDefault();
        var data = event.dataTransfer.getData("Text");
        document.getElementById("table").appendChild(document.getElementById(data));
    }
    function enableNewGroup() {
        location.reload();
    }

</script>