<!--******************************************************************************
 * VERITAS:    Copyright (c) 2017 Veritas Technologies LLC.
 * This software is licensed as described in the file LICENSE which is part of this repository
 *****************************************************************************/
-->

@{
    Layout = null;
}

<body>
    <script type="text/javascript">
        alert("Closing Application");
        var win = window.open("about:blank", "_self");
        win.close();
    </script>
</body>

