body {
    padding-top: 50px;
    /*padding-bottom: 20px;*/
    /* background-image: url('..\Images\Arcus1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*   padding-left: 15px;
    padding-right: 15px;*/
    height: 100%;
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#footer {
    padding: 8px 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#list li {
    list-style-type: none;
}


#sidebar {
    background: linear-gradient(#364956,#4E4F52);
    position: fixed;
    height: 100%;
    width: 250px;
    left: 0;
    margin: 0;
    padding: 0;
    /* -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;*/
    transition: left ease .25s;
}

#sidebar-margin {
    margin-top: 15px;
    margin-bottom: 21px;
    margin-left: 25px;
    margin-right: 20px;
}

#list li a:hover,
#list li a:active,
#list li a:focus,
#list li.open a:hover,
#list li.open a:active,
#list li.open a:focus {
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #ff0000;
    text-decoration: none;
    background-color: #222D35;
}

#filter {
    background: white;
    position: fixed;
    height: 100%;
    margin-left: 233px;
    width: 3px;
    left: 0;
    margin: 0;
    padding: 0;
}
