<!--******************************************************************************
 * VERITAS:    Copyright (c) 2018 Veritas Technologies LLC.
 * This software is licensed as described in the file LICENSE which is part of this repository
 *****************************************************************************/
-->
@model List<string>
@{
    ViewBag.Title = "Why to Create a CosmosDB Account ?";
}
<div style="background-image: url(../../Images/Arcus.jpg);  background-position: center;  background-size:100% 100%; height:100vh; width:100vw; background-repeat: no-repeat; padding-top:100px; overflow-y:scroll;" class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-body" style="max-height: 700px;overflow-y: scroll;">
                @*<img src="~/Images/logo[2].png" />*@
                <h2>@ViewBag.Title</h2>
                <div>
                    <section id="DownloadForm">
                        @using (Html.BeginForm("DocumentDBCredentials", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <hr />
                            <h3>CosmosDB Account.</h3>
                            <h5 style="margin-left:10px;"><span class="glyphicon glyphicon-chevron-right" style="margin-right: 10px;"></span>CosmosDB is Microsoft's newest NoSQL document database platform that runs on Azure.</h5>
                            <h5 style="margin-left:10px;"><span class="glyphicon glyphicon-chevron-right" style="margin-right: 10px;"></span>To use Microsoft Azure CosmosDB, you must create a CosmosDB database account using either the Azure portal, Resource Manager Templates, or Azure command-line interface (CLI). </h5>
                            <h3>CosmosDB Database.</h3>
                            <h5 style="margin-left:10px;"><span class="glyphicon glyphicon-chevron-right" style="margin-right: 10px;"></span>CosmosDB database account that you create will contain a database with Id <b> “ArcusRegistry”</b></h5>
                            <h3>CosmosDB Collection.</h3>
                            <h5 style="margin-left:10px;"><span class="glyphicon glyphicon-chevron-right" style="margin-right: 10px;"></span>The <b>“ArcusRegistry”</b> database will have four collections <b>“AlertCollection”, “JobCollection”, “JobHistoryCollection” and "MediaServerCollection"</b> for storing Alerts, Jobs, Job Histories and Backup Exec Media Server details respectively </h5>
                            <h3>CosmosDB Schema.</h3>
                            <img src="~/Images/DocumentDBSchema.png" />
                            <div class="form-group">
                                <div class="col-md-offset-7 ">
                                    <input type="submit" value="Back" class="btn btn-primary" />
                                </div>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

